<h3>Formulaire</h3>

<div>
  <form (ngSubmit)="submit()" [formGroup]="formulaire">
    <div>
      <label>Nom</label>
      <input formControlName="nom" type="text" />
      <div
        *ngIf="formulaire.get('nom')?.touched && formulaire.get('nom')?.errors"
      >
        <p class="error" *ngIf="formulaire.get('nom')?.errors?.required">
          le champs est requis !!!
        </p>
        <!-- afin d'eviter la syntaxe longue, on peut preparer des get dans le ts -->
        <p class="error" *ngIf="nom?.errors?.errorFieldLength">
          {{ nom?.errors?.errorFieldLength }}
        </p>
      </div>
    </div>
    <div>
      <label>E-mail</label>
      <input formControlName="email" type="email" />
      <div *ngIf="email?.touched && email?.errors">
        <p class="error" *ngIf="email?.errors?.required">
          le champs est requis !!!
        </p>
        <p class="error" *ngIf="email?.errors?.email">
          le format de l'email non valide !!!
        </p>
      </div>
    </div>
    <div>
      <input type="button" value="Reset" (click)="reset()" />
      <button [disabled]="!formulaire.valid">Valider</button>
    </div>
  </form>

  <p>Status du formulaire : {{ formulaire.status }}</p>
  <p>value : {{ nom?.value }} - {{ email?.value }}</p>
  <p>reponse : {{ reponse }}</p>
</div>
