<h3>Directives custom</h3>

<p>Survoler</p>

<p appHighlight>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam doloribus nihil
  in ipsam ipsa id soluta libero eos veniam quisquam culpa quos velit
  accusantium, corporis commodi quas quaerat! Eveniet minus tempora odit
  adipisci autem porro provident optio ducimus illum voluptates.
</p>

<input appHighlight type="button" value="un bouton a survoler" />

<div appHighlight [ngStyle]="{ width: '100px', height: '100px' }">
  survole moi
</div>
