.maClasse {
  color: red;
  border: 1px black solid;
}

.blueSquare {
  background-color: blue;
  color: white;
  width: 75px;
  height: 75px;
}
.redSquare {
  background-color: rgb(255, 0, 0);
  color: white;
  width: 75px;
  height: 75px;
}
