.container {
  width: 680px;
  background-color: rgb(253, 255, 121);
}
.header {
  padding: 10px;
  height: 40px;
  color: bisque;
  background-color: rgb(27, 21, 7);
}
.footer {
  height: 40px;
  color: bisque;
  background-color: rgb(27, 21, 7);
}
